<div class="container">
    <form #feedbackForm="ngForm" (submit)="onSubmit(feedbackForm.value)">
      <br>
        <div class="form-group">
          <label for="email">Email address</label>
          <input ngModel name="username" type="email"   class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="Feedback">Feedback</label>
          <input ngModel name="feedback" type="text"  class="form-control"  id="Feedback" placeholder="Feedback">
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>

      <hr>
      <p>All Feedback</p>
      <ul>
        <li *ngFor="let data of mDataArray">{{ data.username }} : <span style="color: gray">{{data.feedback}}</span></li>
      </ul>
</div>


<!-- <router-outlet></router-outlet> -->
